/*.sidebar {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}
.sidebar a:hover {
  color: #064579;
}*/


.navbar a:hover {
    background: #2e72a2;
    color: #ffff;
  }
  
  .navbar a {
    /* float: left; */
    display: inline-block;
    color: #ffff;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar {
    overflow: hidden;
    background-color: #31aaff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
  }
  .logo {
      /* float: left; */
      display: inline-block;
  }
  .user_status{
      float: right;
  
  }
  /*body{
      margin: 0px;
      font-family: 'Open Sans';
  }*/
  .search{
      width: 50%;
      border-radius: 2px;
      border:none;
      top: 30px;
      display: inline-block;
      margin: 15px 0px 15px 60px;
      padding: 7px;
  }
  
  .footer {
      position: fixed;
      overflow: hidden;
      padding:0;
      background-color:#31aaff;
      text-align: center;
      left: 0px;
      bottom: 0px;
      width: 100%;
      color: #0a0a0a;
      text-decoration:none;
  }
  
  .footer a{
      text-decoration:none;
  }
  
  /*.sidebar {
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    float: left;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidebar a:hover {
    color: #064579;
  }
  */
      /*.main_content {
        margin-left: 140px; 
        font-size: 28px; 
        padding: 0px 10px;
        float: right;
        width: 70%;
      }*/
      .your_meetups{
          margin: 0px;
      }
  .your_meetups ul{
      text-decoration: none;
      list-style: none;
      margin: 0px;
  }
  .meetup_interests ul{
      text-decoration: none;
      list-style: none;
  }
  .meetups {
      text-decoration: none;
      list-style: none;
  }
  .loginForm {
      
      width: 100%;
      text-align: center;
  }
  .signupForm {
      background-color: #31aaff;
      border-radius: 2px;
      border:none;
      width: 300px;
  }
  .section {
      position: absolute;
      display: table;
      width: 100%;
  }
  .container{
      background-color: inherit;
      margin: 0;
      padding: 0;
  
  }
  
  
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    width: 100%;
  }
  
  /* Style the header */
  /*header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }*/
  
  
  .nav {
    float: left;
    width: 30%;
    height: auto;
    background: #ccc;
    padding: 20px 10px 250px 10px;
    margin-top: 45px;
    margin-bottom: -250px;
  }
  
 
  /*.nav ul {
    list-style-type: none;
    padding: 0;
  }*/
  .main ul,a,ul>li{
      text-decoration: none;
      list-style: none;
      padding: 5px;
      text-align: center;
  }
  
  .main {
    float: left;
    width: 70%;
    background-color: #f1f1f1;
    margin-top: 45px;
    padding: 20px 10px 250px 10px;
    margin-top: 45px;
    margin-bottom: -250px;
    bottom: 0;
    top: 0;
    
  }
  
  
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  

  /*footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  */
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  form{
      background-color: #0b609c;
      margin: 20px;
      padding: 20px;
      width: 50%;
      border-radius: 2px;
      border: none;
      text-align: left;
      /* position: absolute; */
      margin-left: 25%;		
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .login_{
      padding: 10px 35px;
      cursor: pointer;
      background-color: green;
      opacity: 0.6;
      border:none;
      color: #ffff;
  }
  