

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='images/questioner.png') }}" style="width: 20px;height: 20px;border-radius: 50%;background-color: #ffff;">
<title>{% block title %}{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="static/css/new.css">
{% block styles %}{% endblock styles %}

</style>
</head>
<body>

<div class="navbar" id="navbar">
	<a href="#">
		Home
		<!-- <img class="logo" src="static/images/quest2.png" alt="Home" style="width: 130px;height: 70px;"> -->
	</a>
	<span>
		<input type="search" name="search" class="search" placeholder="search questioner ...">
	</span>
	<span class="user_status" id="user_status">
		<a class="login_button" id="login_button" href="{{ url_for('signup') }}">
			<span><i class="fas fa-user-plus" style="padding-right:5px;display: inline-block;"></i></span>
			Sign up
		</a>
		<a class="signup_button" id="signup_button" href="{{ url_for('login') }}">
			<span><i class="fas fa-sign-in-alt" style="padding-right:5px;display: inline-block;"></i></span>
			Login
		</a>
		<a class="signup_button" id="signup_button" href="{{ url_for('login') }}" style="padding: 5px 10px 5px 0px;">
			<span><i class="fas fa-user-circle" style="padding-right:5px;display: inline-block;"></i></span><br>
			<span style="font-size: 13px;color:#ff4949;">logged in as</span>
		</a>
	</span>
</div>



<section>
	<div class="nav">
		<div class="your_meetups">
			<ul>
				<h4>Your meetups</h4>
				<li>
					<a href="#">meetup one ...</a>
				</li>
				<li>
					<a href="#">meetup two ...</a>
				</li>
				<li>
					<a href="#">meetup three ...</a>
				</li>
			</ul>
		</div>
		<div class="meetup_interests" id="meetup_interests">
			<ul>
				<h4>Meetups you might be interested in.</h4>
				<li>
					<a href="#">meetup interested one ...</a>
				</li>
				<li>
					<a href="#">meetup interested two ...</a>
				</li>
				<li>
					<a href="#">meetup interested three ...</a>
				</li>
			</ul>	
		</div>
	</div>
  <!-- <nav>
    <ul>
      <li><a href="#">London</a></li>
      <li><a href="#">Paris</a></li>
      <li><a href="#">Tokyo</a></li>
    </ul>
  </nav> -->
  <div class="main" id="main">
  	<!-- <h4>Your Meetups</h4>
	<ul>
		<li>
			<a href="#">your meetup one ...</a>
		</li>
		<li>
			<a href="#">your meetup two ...</a>
		</li>
		<li>
			<a href="#">your meetup three ...</a>
		</li>
	</ul> -->
	<div class="loginForm" id="loginForm">
		<form>
			<label for="uname"><b>Username</b></label>
	      	<input type="text" placeholder="Enter Username" name="uname" required>

	      	<label for="psw"><b>Password</b></label>
	      	<input type="password" placeholder="Enter Password" name="psw" required>
	        <div class="login_button" style="text-align: center;">
	        	<button type="submit" class="login_">Login</button>
	        </div>
		  
		    <label>
		</form>
	</div>
	<!-- <div class="signupForm" id="signupForm">
		<form>
			<label for="fname"><b>First Name</b></label>
			<input type="text" name="fname" placeholder="Enter First Name" required>

			<label for="fname"><b>First Name</b></label>
			<input type="text" name="fname" placeholder="Enter First Name" required>

			<label for="uname"><b>Username</b></label>
	      	<input type="text" placeholder="Enter Username" name="uname" required>

	      	<label for="psw"><b>Password</b></label>
	      	<input type="password" placeholder="Enter Password" name="psw" required>
	        
		    <button type="submit" class="signup_button">Sign Up</button>
		    <label>
		</form>
	</div> -->
</div>
</section>

<div class="footer" id="footer">
	<ul style="margin: 5px;">
		<a href="https://facebook.com">Facebook </a>|
		<a href="https://twitter.com">Twitter </a>|
		<a href="https://instagram.com">Instagram </a>|
		<a href="https://plus.google.com/discover">Google +</a><br>
		<p>Copyright <span>&copy;</span> 2019 Questioner. All Rights Reserved</p>
	</ul>
</div>

</body>
</html>
